*.sqlite3
*.pyc
*~
__pycache__/
.idea/
.vscode/
/boenv/
migrations/
/static/assets/libs/
/node_modules/
/package.json
/belomor-ocenka/secret.py
/devmanage.py
/belomor-ocenka/devsettings.py
/belomor-ocenka/devurls.py
/belomor-ocenka/secret.py
/static/assets/sass/
/static/assets/js/
/.bowerrc
/.editorconfig
/.eslintrc.json
/.npmrc
/gulpfile.js
/README.md