# IDE
.idea/

# Python
*.pyc
__pycache__/

# Django
/boenv/
/belomor-ocenka/secret.py
/belomor-ocenka/devsettings.py
/belomor-ocenka/devurls.py
/devmanage.py
/requirements-dev.txt
/static/assets/libs/
/static/assets/sass/
/static/assets/js/

# Other
/node_modules/
/.bowerrc
/.editorconfig
/.npmrc
/gulpfile.js
/package.json
/README.md