{% extends 'base.html' %}
{% load static %}

{% block canonical %}
  <link rel="canonical" href="https://belomor-ocenka.ru"/>{% endblock %}
{% block title %}
  <title>Оценка после ДТП 🚗 Автоэкспертиза 🚗 Беломор Оценка | Архангельская область</title>{% endblock %}
{% block description %}
  <meta name="description"
        content="Беломор оценка - проводим все виды независимых оценок и автоэкспертиз. Предварительная оценка. Выезд эксперта.">{% endblock %}
{% block keywords %}
  <meta name="keywords"
        content="автоэкспертиза, оценка, после дтп, после аварии, оценка авто, оценка автомобиля">{% endblock %}
{% block og %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Belomor-ocenka">
  <meta property="og:title" content="Беломор оценка">
  <meta property="og:url" content="https://belomor-ocenka.ru">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:image" content="https://belomor-ocenka.ru/static/img/og.png">
  <meta property="og:image:width" content="537">
  <meta property="og:image:height" content="240">
{% endblock %}

{% block content %}
  <section id="hero" class="bg">
    <div class="row head head-indent">
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo1.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo2.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo3.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo4.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo5.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo6.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo7.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo8.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo9.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo10.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo11.png' %}" alt="Беломор оценка"></div>
      <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo12.png' %}" alt="Беломор оценка"></div>
    </div>
    <div class="row align-items-center size-screen">
      <div class="col-md-8 mx-auto text-center">
        <div class="bg-hero">
          <h1>БЕЛОМОР ОЦЕНКА</h1>
        </div>
        <div class="bg-hero">
          <h2>Все виды оценок и автоэкспертиз. Выезд эксперта.</h2>
        </div>
        <a href="tel:+79523002888">
          <button class="btn btn-primary btn-lg">+7 (911) 570-58-78</button>
        </a>
      </div>
    </div>
  </section>

  <section id="services" class="container services">
    <h3 class="mt-5 text-center text-uppercase">Услуги</h3>
    <hr>
    <h4 class="mt-2 pt-4 pb-4 text-center bg-main text-uppercase">Независимая экспертиза автомобиля после ДТП</h4>
    <div class="row">
      <div class="col-lg-5 wrapper exmpl">
        <img src="{% static 'img/1.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 pt-2">
        Если Вы не согласны с суммой страховой выплаты или Ваши затраты на восстановительный ремонт превышают сумму,
        которую Вам выплатила страховая компания, то проведение независимой экспертизы - это реальный шанс получить от
        страховщика сумму компенсации, необходимую для приведения Вашего автомобиля в доаварийное состояние.
      </div>
    </div>

    <h4 class="mt-2 pt-4 pb-4 text-center bg-main text-uppercase">Независимая оценка ущерба автомобиля</h4>
    <div class="row">
      <div class="col-lg-5 wrapper exmpl">
        <img src="{% static 'img/2.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 pt-2">
        Оценка ущерба и автоэкспертиза проводится для расчета реальной величины стоимости ремонта.В случаях, когда
        Вашему автомобилю нанесли повреждения вследствии противоправных действий третьих лиц, пожара, стихийных бедствий
        и других факторов, необходимо расчитать стоимость восстановительного ремонта автомобиля. Для этого требуется
        независимая, объективная оценка, выполненная с учетом требований Закона "Об оценочной деятельности в РФ"
        №135-ФЗ.
      </div>
    </div>

    <h4 class="mt-2 pt-4 pb-4 text-center bg-main text-uppercase">Расчет стоимости УТС и годных остатков
      автомобиля</h4>
    <div class="row">
      <div class="col-lg-5 wrapper exmpl">
        <img src="{% static 'img/3.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 pt-2">
        Независимая автоэкспертиза после ДТП, зачастую проводится с целью определения УТС (утраты товарной стоимости)
        автомобиля. Утрата товарной стоимости автомобиля это величина, которая характеризует снижение стоимости
        автомобиля в результате его восстановления после ДТП. Расчет УТС может быть произведен для автомобилей
        иностранного производства не старше 5-ти лет и для автомобилей отечественного производства не старше 3-х лет при
        условии износа автомобилей до 40%.
      </div>
    </div>

    <h4 class="mt-2 pt-4 pb-4 text-center bg-main text-uppercase">Оценка рыночной стоимости автомобиля</h4>
    <div class="row">
      <div class="col-lg-5 wrapper exmpl">
        <img src="{% static 'img/4.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 pt-2">
        Оценка рыночной стоимости автомобиля и других транспортных средств становится необходимой в условиях повышенного
        спроса и динамично развивающегося рынка автомобилей. Оценка стоимости автомобиля необходима для продажи,
        оформления наследства, внесения в уставной капитал, списания с баланса, при разделе имущества, органов опеки и
        социальной защиты и других целей. Результатом проведения оценки является составление отчета об оценке.
      </div>
    </div>
  
    <h4 class="mt-2 pt-4 pb-4 text-center bg-main text-uppercase">Помощь на осмотрах в страховых компаниях</h4>
    <div class="row">
      <div class="col-lg-5 wrapper exmpl">
        <img src="{% static 'img/5.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 pt-2">
        Проведём дефектовку скрытых повреждений в условиях сертифицированной СТО. Предоставим бесплатную стоянку для 
        Вашего автомобиля на время оценки нашей организацией. Предоставим подменный автомобиль на выгодных условиях для
        наших клиентов. Подберём автозапчасти для Вашего автомобиля.
      </div>
    </div>

  </section>

  <h4 class="mt-3 pt-4 pb-4 text-center text-uppercase string">Опыт более 10 лет!</h4>
{#  <section id="reviews" class="reviews">#}
{#    <div class="container">#}
{#      <h3 class="mt-5 text-center text-uppercase">Отзывы</h3>#}
{#      <hr>#}
{#      <p class="quote">Mauris sit amet mauris a arcu eleifend ultricies eget ut dolor. Class aptent taciti sociosqu ad#}
{#        litora torquent per conubia nostra, per inceptos himenaeos.</p>#}
{#      <p class="author">— Patrick Farrell</p>#}
{##}
{#      <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum#}
{#        ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>#}
{#      <p class="author">— George Smith</p>#}
{##}
{#      <p class="quote">Donec commodo dolor augue, vitae faucibus tortor tincidunt in. Aliquam vitae leo quis mi#}
{#        pulvinar#}
{#        ornare. Integer eu iaculis metus.</p>#}
{#      <p class="author">— Kevin Blake</p>#}
{#    </div>#}
{#  </section>#}

  <section id="contact" class="contact pt-4">
    <div class="container">
      <h3 class="text-center text-uppercase">Контакты</h3>
      <p class="text-center">
        Выберите ближайший офис и звоните сейчас <a href="tel:+79523002888">+7(911)5705878</a>
        <br>
        Либо оставьте свой номер. И мы перезвоним Вам!
      </p>
      <hr class="mt-4 mb-4">
      <form id="feedback" action="{% url 'feedback' %}" method="POST">{% csrf_token %}
        <label for="name" class="pl-3 text-uppercase">Имя:</label>
        {{ form.name }}
        <label for="phone" class="pl-3 mt-3 text-uppercase">Телефон:</label>
        {{ form.phone }}
        <button id="button-feedback" class="mt-3 btn btn-primary text-uppercase" type="submit">Отправить</button>
      </form>
      <br>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <iframe title="belomor-ocenka"
                  src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac0de73b3ac269c7b2202c7c59f586c8e43bb25eb3348e2d36785e27e6c9c8328&amp;source=constructor"
                  width="100%" height="400" frameborder="0" loading="lazy"></iframe>
        </div>
        <div class="col-lg-4 align-self-center">
          <p class="text-center mt-2">Наш партнер</p>
          <div class="image-center">
            <img src="{% static 'img/bosch.jpg' %}" alt="">
          </div>
          <p class="text-center mt-3">СтасАвто Сервис</p>
          <hr>
          <p class="text-center"><a href="http://www.bosch29.ru/">bosch29.ru</a></p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}