{% extends 'base.html' %}
{% load static %}

{% block canonical %}<link rel="canonical" href="https://belomor-ocenka.ru"/>{% endblock %}
{% block title %}<title>Оценка после ДТП 🚗 Автоэкспертиза 🚗 Беломор Оценка | Архангельская область</title>{% endblock %}
{% block description %}<meta name="description" content="Беломор оценка - проводим все виды независимых оценок и автоэкспертиз. Предварительная оценка. Выезд эксперта.">{% endblock %}
{% block keywords %}<meta name="keywords" content="автоэкспертиза, оценка, после дтп, после аварии, оценка авто, оценка автомобиля">{% endblock %}
{% block og %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Belomor-ocenka">
  <meta property="og:title" content="Беломор оценка">
  <meta property="og:url" content="https://belomor-ocenka.ru">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:image" content="https://belomor-ocenka.ru/static/img/og.png">
  <meta property="og:image:width" content="537">
  <meta property="og:image:height" content="240">
{% endblock %}

{% block content %}
  <section id="hero" class="hero">
    <div class="background-image" style="background-image: url(static/img/bg.jpg);"></div>
    <h1>Беломор Оценка</h1>
    <h2>Все виды оценок и автоэкспертиз. Выезд эксперта.</h2>
    <a href="tel:+79523002888" class="btn btn-phone">+7 (952) 300-28-88</a>
  </section>

  <section id="our-work" class="our-work">
    <h2 class="title">Оценка авто</h2>
    <hr>
    <ul class="grid">
      <li class="small" style="background-image: url(static/img/1.jpg);"></li>
      <li class="large" style="background-color: #fff;">
        <h3>Оценка транспорта</h3>
        <br>
        • Оценка автомобиля
        <br>
        • Оценка других видов транспортных средств
      </li>

      <li class="small" style="background-image: url(static/img/2.jpg);"></li>
      <li class="large" style="background-color: #fff;">
        <h3>Оценка после ДТП</h3>
        <br>
        • Оценка ущерба после ДТП в условиях сертифицированного автосервиса с применением диагностического оборудования
        <br>
        • Помощь независимого эксперта в аварийной ситуации
        <br>
        • Взыскание ущерба по ОСАГО
      </li>

      <li class="small" style="background-image: url(static/img/3.jpg);"></li>
      <li class="large" style="background-color: #fff;">
        <h3>Опыт более 10 лет!</h3>
        <br>
        • Предоставляем бесплатную стоянку вашему автомобилю на период оценки
        <br>
        • Предоставим подменный автомобиль нашим клиентам, на условиях аренды, на период оценки автомобиля
      </li>

      <li class="small" style="background-image: url(static/img/4.jpg);"></li>
      <li class="large" style="background-color: #fff;">
        <h3>Наши партнеры</h3>
        <br>
        <a href="http://www.bosch29.ru/">bosch29.ru</a>
      </li>
    </ul>
  </section>

{#  <section id="reviews" class="reviews">#}
{#    <h2 class="title">Отзывы</h3>#}
{#    <hr>#}
{#    <p class="quote">Mauris sit amet mauris a arcu eleifend ultricies eget ut dolor. Class aptent taciti sociosqu ad#}
{#      litora torquent per conubia nostra, per inceptos himenaeos.</p>#}
{#    <p class="author">— Patrick Farrell</p>#}
{##}
{#    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum#}
{#      ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>#}
{#    <p class="author">— George Smith</p>#}
{##}
{#    <p class="quote">Donec commodo dolor augue, vitae faucibus tortor tincidunt in. Aliquam vitae leo quis mi#}
{#      pulvinar#}
{#      ornare. Integer eu iaculis metus.</p>#}
{#    <p class="author">— Kevin Blake</p>#}
{#  </section>#}

  <section id="contact" class="contact">
    <h2 class="title">Контакты</h2>
    <p>
      Выберите ближайший офис и звоните сейчас <a href="tel:+79523002888">+7(952)3002888</a>
      <br>
      Либо оставьте свой номер. И мы перезвоним Вам!
    </p>
    <hr>
    <form id="feedback" action="{% url 'feedback' %}" method="POST">{% csrf_token %}
      <label for="name">Имя:</label>
      {{ form.name }}
      <label for="phone">Телефон:</label>
      {{ form.phone }}
      <button id="button-feedback" class="btn" type="submit">ОТПРАВИТЬ</button>
    </form>
    <br>
    <iframe title="belomor-ocenka"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac0de73b3ac269c7b2202c7c59f586c8e43bb25eb3348e2d36785e27e6c9c8328&amp;source=constructor"
            width="100%" height="400" frameborder="0" loading="lazy"></iframe>
  </section>
{% endblock %}