{% load static %}

<footer>
  <div class="row head pb-4">
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo1.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo2.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo3.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo4.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo5.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo6.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo7.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo8.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo9.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo10.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo11.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo12.png' %}" alt="Беломор оценка"></div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center"><a href="https://vk.com" target="_blank" rel="noopener"><i class="fab fa-vk fa-2x"></i><span
              style="color: blue;">.</span></a></p>
      <p class="text-center">@Беломор оценка</p>
      <p class="text-center"><a href="https://digitalrush.ru" target="_blank" rel="noopener">BY DIGITALRUSH</a></p>
    </div>
  </div>
</footer>