{% load static %}

<header>
  <div class="bg-dark head-indent"></div>
  <nav class="navbar fixed-top navbar-expand-md navba navbar-bg">
    <div class="container">
      <img src="{% static 'img/apple-touch-icon-60x60.png' %}" alt="Беломор оценка">
      <h4 class="brand"><a href="" class="brand-a"></a></h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#hero">ГЛАВНАЯ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">УСЛУГИ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">ОТЗЫВЫ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">КОНТАКТЫ</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row head pt-1">
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo1.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo2.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo3.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo4.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo5.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo6.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo7.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo8.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo9.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo10.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo11.png' %}" alt="Беломор оценка"></div>
    <div class="col-md-1 col-sm-2 col-3"><img src="{% static 'img/logo12.png' %}" alt="Беломор оценка"></div>
  </div>
</header>